<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>{{ page.title }}</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Bilawal Hameed" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <link rel="icon" href="{{ site.url }}/images/icon.png" type="image/png" />
  <link rel="stylesheet" href="{{ site.url }}/css/bilawal.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ site.url }}/css/pygments.css" type="text/css" media="screen" />
  <!--[if IE 8]><link rel="stylesheet" href="{{ site.url }}/css/ie8.css" type="text/css" media="screen, projection"><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="{{ site.url }}/css/ie7.css" type="text/css" media="screen, projection"><![endif]-->
  <!--[if IE 6]><link rel="stylesheet" href="{{ site.url }}/css/ie6.css" type="text/css" media="screen, projection"><![endif]-->

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.2+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/iphone-icon-57x57.png">

  <!-- For first-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/iphone-icon-72x72.png">

  <!-- For iPhone 4 with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/iphone-icon-114x114.png">

  <!-- No such device exists yet, so if this value is used,
    it means the sizes attribute is ignored: -->
  <link rel="apple-touch-icon-precomposed" sizes="228x228" href="{{ site.url }}/images/iphone-icon-228x228.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" />
  <link rel="alternate" type="application/atom+xml" title="Bilawal Hameed" href="http://feeds.feedburner.com/bilawalhameed" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:type" content="{% if page.excerpt %}article{% else %}blog{% endif %}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}/images/icon-640x640.png"/>
  <meta property="og:site_name" content="{{ site.name }}"/>
  <meta property="fb:admins" content="555155596"/>
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}"/>

</head>
<body>

  <header>
    <!-- The logo -->
    <div><a class="beard" href="{{ site.url }}" target="_self" alt="Back to home"><h1>{{ site.name }}</h1></a></div>
  </header>

<div class="contentWrapper">
  <div class="content">
    {{ content }}

    {% if page.social %}
      <div class="about-social">
        <ul>
          <li class="twitter"><a href="http://twitter.com/bilawalhameed" title="Twitter" alt="Twitter"><span>Twitter</span></a></li>
          <li class="github"><a href="http://github.com/bih" title="GitHub" alt="GitHub"><span>GitHub</span></a></li>
          <li class="quora"><a href="http://www.quora.com/Bilawal-Hameed" title="Quora" alt="Quora"><span>Quora</span></a></li>
        </ul>
      </div>
    {% endif %}
  </div>
</div>

  <footer>
    <div>&copy; {{ site.time | date: "%Y" }}</div>
  </footer>

<!-- JavaScript -->
<script type="text/javascript"> var site_url = '{{ site.url }}';</script>
<script type="text/javascript" src="{{ site.url }}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ site.url }}/js/bilawal.js"></script>

<!-- TypeKit -->
<script type="text/javascript" src="//use.typekit.net/zvi4qyc.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- GoSquared Analytics -->
<script type="text/javascript">var GoSquared = {acct: "GSN-699065-S"}; (function(w){function gs(){ w._gstc_lt = +new Date; var d = document, g = d.createElement("script"); g.type = "text/javascript"; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s); } w.addEventListener ? w.addEventListener("load", gs, false) : w.attachEvent("onload", gs); })(window); </script>  

<!-- Powered by Jekyll. Last rendered at {{ site.time }} -->
</body>
</html>
