---
layout: layout
---
<div class="post">
	<h1 class="title">{{ page.title }} <a href="{{ site.url }}{{ page.url }}" id="permalink" alt="Link to this article" title="Link to this article" class="permalink"></a></h1>
	<span class="date">
		{% if page.previous %}<a href="{{ site.url }}{{ page.previous.url }}" class="prev">&larr;</a> {% endif %} 
		{{ page.date | date: '%d %B %Y' }} / 
		{{ page.content | number_of_words }} words / 
		<a href="http://www.facebook.com/share.php?u={{ site.url }}{{ page.url }}" title="Share to Facebook" alt="Share to Facebook">Facebook</a> / 
		<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=bilawalhameed" title="Post to Twitter" alt="Post to Twitter">Twitter</a>
		{% if page.hackernews %} / <a href="{{ page.hackernews }}" title="Discuss on Hacker News" alt="Discuss on Hacker News">Discuss on HN</a>{% endif %} 
		{% if page.next %}<a href="{{ site.url }}{{ page.next.url }}" class="next">&rarr;</a> {% endif %}
	</span>
	
	<section>
		{{ content }}
	</section>
</div>
